body {
  margin: 0;
  line-height: normal;
  
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-dm-serif-display: "DM Serif Display";
  --font-antonio: Antonio;
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-mid: 17px;
  --font-size-2xl: 21px;
  --font-size-6xl: 25px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-4xl: 23px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.7);
  --color-gray-200: rgba(254, 254, 254, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gray-400: rgba(0, 0, 0, 0.75);
  --color-goldenrod-100: #f3b600;
  --color-red: #fb0404;
  --color-silver: #c4c4c4;
  --color-whitesmoke-100: #f8f8f8;
  --color-dodgerblue: #1976d2;
  --color-gold: #f1c40f;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
