html {
  zoom: 0.9;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}
.starboard-manpower-services {
  margin: 0;
  position: absolute;
  top: 40px;
  left: 202px;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}
.download-removebg-preview-2-icon1 {
  position: absolute;
  top: 17px;
  left: 116px;
  width: 86px;
  height: 86px;
  object-fit: cover;
}
.about-us,
.contact-us,
.home1,
.jobs2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 74px;
  flex-shrink: 0;
}
.about-us,
.contact-us,

.jobs2 {
  width: 83px;
}

.about-us,
.contact-us {
  width: 158px;
}
.about-us {
  width: 97px;
}
.home-group {
  margin: 0;
  position: absolute;
  top: 40px;
  left: 1540px;
  width: 422px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  text-align: center;
  font-size: var(--font-size-x1);
  color: var(--color-black);
  font-family: var(--font-inter);
  cursor: pointer;
}
.frame,
.frame1 {
  width: 100%;
  overflow: hidden;
}
.frame1 {
  position: relative;
  height: 120px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-x1);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: #f1c40f;
}
.are-you-an {
  position: absolute;
  top: -13px;
  left: 388px;
  font-size: var(--font-size-lg);
  line-height: 40px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 190px;
  height: 29px;
  cursor: pointer;

}
.frame4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 614px;
  height: 33px;
  overflow: hidden;
}
.frame-item {
  position: absolute;
  top: 16px;
  left: 31px;
  background: linear-gradient(
    180deg,
    #f1c40f,
    rgba(255, 255, 255, 0.42) 74.48%
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 552px;
  height: 764px;
}
.frame-child1,
.frame-inner {
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-white);
  position: absolute;
  left: 96px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 425px;
  height: 41px;
}
.frame-inner {
  top: 333px;
  mix-blend-mode: normal;
  padding-left: 39px;
  font-size: var(--font-size-xl);
  
}
.frame-child1 {
  top: 396px;
  padding-left: 39px;
  font-size: var(--font-size-xl);
}
.box {
  display: block;
  position: relative;
  top: 441px;
  left: 100px;
  width: 18px;
  height: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  transform: scale(0.7);
}
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.box:hover input ~ .checkmark {
  background-color: #edb32b;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.box input:checked ~ .checkmark:after {
  display: block;
}
.box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #edb32b;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.group-icon,
.vector-icon {
  position: absolute;
  height: 2.51%;
  width: 2.61%;
  top: 43.16%;
  right: 80.29%;
  bottom: 54.33%;
  left: 17.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  top: 51.07%;
  bottom: 46.42%;
}
.emailusername,
.password,
.stay-sign-in {
  position: absolute;
  top: 442px;
  left: 134px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.emailusername,
.password {
  top: 335px;
  font-size: var(--font-size-xl);
  line-height: 40px;
  color: var(--color-gray-400);
}
.password {
  top: 397px;
}
.starboard-removebg-preview-2-icon {
  position: absolute;
  top: 50px;
  left: 220px;
  width: 174px;
  height: 176px;
  object-fit: cover;
}
.forgot-password {
  position: absolute;
  top: 442px;
  left: 385px;
  /* font-size: var(--font-size-sm); */
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  width: 140px;
  height: 17px;
  
}
.mdieye,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.mdieye {
  top: 407px;
  left: 466px;
  width: 20px;
  height: 20px;
  opacity: 0.4;
}
.vector-icon1 {
  height: 1.57%;
  width: 2.99%;
  top: 51.57%;
  right: 16.4%;
  bottom: 46.86%;
  left: 80.62%;
  max-width: 100%;
  max-height: 100%;
}
.log-in-to,
.log-in-with,
.or-sign-in {
  font-family: var(--font-inter);
  text-align: left;
}
.log-in-to {
  position: absolute;
  top: 297px;
  left: 97px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 279px;
  height: 21px;

}
.log-in-with,
.or-sign-in {
  font-size: var(--font-size-base);
}
.or-sign-in {
  position: absolute;
  top: 561px;
  left: 244px;
  color: var(--color-black);
  display: inline-block;
  width: 128px;
  height: 28px;
}
.log-in-with {
  position: relative;
  color: var(--color-white);
}
.log-in-with-facebook-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: rgba(61, 90, 152, 0.95);
  position: absolute;
  top: 590px;
  left: 98px;
  border-radius: var(--br-11xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 422px;
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.log-in-with1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.log-in-with-google-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  position: absolute;
  top: 638px;
  left: 98px;
  border-radius: var(--br-11xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 422px;
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.deviconfacebook,
.flat-color-iconsgoogle {
  position: absolute;
  top: 589px;
  left: 97px;
  width: 41px;
  height: 39px;
  overflow: hidden;
}
.flat-color-iconsgoogle {
  top: 638px;
  left: 99px;
  width: 38px;
  height: 37px;
}
.dont-have-account {
  color: var(--color-black);
}
.sign-up {
  color: #00f;
  cursor: pointer;
}
.dont-have-account-container {
  position: absolute;
  top: 743px;
  left: 220px;
  font-size: 13px;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 37px;
}
.frame-div {
  position: absolute;
  top: 20px;
  left: 42px;
}
.log-in {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 44px;
  flex-shrink: 0;
}
.frame-parent,
.log-in-wrapper {
  position: absolute;
  cursor: pointer;
}
.log-in-wrapper {
  border: 0;
  padding: var(--padding-3xs);
  background-color: #edb32b;
  top: 14px;
  left: 5px;
  border-radius: var(--br-8xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 423px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frame-parent {
  top: 485px;
  left: 92px;
  width: 428px;
  height: 68px;
  overflow: hidden;
}
.frame3 {
  position: relative;
  width: 614px;
  height: 797px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame2 {
  position: absolute;
  top: 180px;
  left: 685px;
  width: 676px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.login-pageapplicant {
  position: relative;
  width: 100%;
  height: 1114px;
  overflow: hidden;
  background-image: url(./public/login-pageapplicant@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
